@import 'global';

.card {
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.08);

  &__top-background {
    width: 100%;
    user-select: none;
  }

  &__body {
    background-color: var(--card-body);
  }

  &__pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;

    & picture {
      margin-top: -88px;
      border-radius: 9em;
      padding: 16px;
      width: 212px;
      height: 212px;
      background-color: var(--card-picture);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.28);
      overflow: hidden;
    }

    &-title {
      display: grid;
      place-items: center;
      gap: 8px;
      margin-top: 16px;
    }

    &-hp {
      font-weight: 500;
      font-size: 15px;
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    padding: 52px 52px 28px;
    text-align: center;
  }

  &__stats p {
    font-size: 12px
  }
}
