@import 'global';

.card {
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.08);

  &__top-background {
    width: 100%;
    user-select: none;
  }

  &__body {
    background-color: var(--body);
  }

  &__pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    & picture {
      margin-top: -106px;
      border-radius: 9em;
      padding: 16px;
      width: 212px;
      height: 212px;
      background-color: var(--picture);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.28);
      overflow: hidden;
    }

    &-hp {
      font-weight: 500;
      font-size: 15px;
    }

    &-types {
      display: flex;
      gap: 8px;
      font: 500 14px/1 flexo;
      color: #fff;

      & span {
        border: 1px solid var(--border-type);
        border-radius: 4px;
        padding: 4px;
        width: 64px;
        text-align: center;
        text-transform: capitalize;
        text-shadow: 0 0 2px #000;
      }
    }

    &-stats {
      display: flex;
      justify-content: space-between;
      padding: 28px 32px 24px;
      width: 100%;
      text-align: center;

      & p {
        max-width: min-content;
        font-size: 12px
      }
    }
  }
}
